# dependencies
/frontend/node_modules
/backend/node_modules

# package-lock
/frontend/package-lock.json
/backend/package-lock.json

# production
/frontend/build

# frontend runtime environment
/frontend/public/runtime-env.js

/.env
/frontend/.env
/backend/microservice.json
